<div class="alert alert-danger" ng-if="showError">
    No data available. Please choose another city or try again later.
</div>

<div ng-controller="WeatherController" id="weather-area" ng-if="weatherAvailable">
    <div class="page-header">
        <h4>Current weather in {{weather.city}}</h4>
    </div>

    <div id="weather-table">

        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <td><b>Temperature</b></td>
                <td>
                    <div id="temp">{{weather.temperature}} &deg;</div>
                </td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>
                    <div id="description">{{weather.description}}</div>
                </td>
            </tr>
            <tr>
                <td><b>Wind</b></td>
                <td>
                    <div id="wind">{{weather.wind}}</div>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

</div>