.container {
  position: relative;
  height: 38rem;
  
}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

body,div {
	background: #B2DFDB !important;
}